@* @page "/Applications/Create" *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<EditForm EditContext="@_editContext"  >
	@* Model="createApplication" *@
	@*     <DataAnnotationsValidator />
    <ValidationSummary /> *@

	<MudGrid>
		<MudItem md="12">
			<MudPaper Class="pa-4 pb-8 " Outlined="true">
				<MudGrid>
					<MudItem md="12" Style="width:100%">
						<MudTextField Label="Name"
									  Variant="Variant.Text"
									  InputType="InputType.Text"
									  For="@(() => createApplication.Name)"
									  @bind-Value="createApplication.Name"
									  TextChanged="() => ClearValidationMessage(nameof(createApplication.Name))" />
					</MudItem>

					<MudItem md="12" Style="width:100%">
						<MudTextField T="string" MaxLines=3 Lines=3 Label="Description"
									  Variant="Variant.Text"
									  InputType="InputType.Text"
									  For="@(() => createApplication.Description)"
									  @bind-Value="createApplication.Description"
									  TextChanged="() => ClearValidationMessage(nameof(createApplication.Description))" />
					</MudItem>

					<MudItem md="6" Style="width:100%">
						<MudTextField Label="Abbreviation"
									  Variant="Variant.Text"
									  InputType="InputType.Text"
									  For="@(() => createApplication.Abbreviation)"
									  @bind-Value="createApplication.Abbreviation"
									  TextChanged="() => ClearValidationMessage(nameof(createApplication.Abbreviation))" />
					</MudItem>
					<MudItem md="6" Style="width:100%">
						<MudTextField Label="Friendly Id"
									  Variant="Variant.Text"
									  InputType="InputType.Text"
									  For="@(() => createApplication.FriendlyId)"
									  @bind-Value="createApplication.FriendlyId"
									  TextChanged="() => ClearValidationMessage(nameof(createApplication.FriendlyId))" />
					</MudItem>

					<MudItem md="12" Style="width:100%">
						<MudTextField Label="Icon Url"
									  Variant="Variant.Text"
									  InputType="InputType.Url"
									  For="@(() => createApplication.IconUrl)"
									  @bind-Value="createApplication.IconUrl"
									  TextChanged="() => ClearValidationMessage(nameof(createApplication.IconUrl))" />
					</MudItem>
				</MudGrid>
			</MudPaper>
		</MudItem>
		<MudItem md="12" Style="text-align:right">

			<MudButton Variant="Variant.Outlined" Color="Color.Secondary" OnClick="HandleCancelAsync">Cancel</MudButton>

			<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleSubmitAsync">Save</MudButton>

		</MudItem>


		@if (!string.IsNullOrEmpty(_error))
		{
			<MudItem md="12">
				<div class="alert alert-danger alert-dismissible fade show mt-2 mb-0" role="alert">
					<strong>Hey, an error happened!</strong>
					@_error
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</MudItem>
		}


	</MudGrid>

</EditForm>
